.325_3 { 
	overflow:hidden;
}.e325_3 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(238.00000101327896, 238.00000101327896, 238.00000101327896, 1);
	width:1440px;
	height:3946px;
	position:absolute;
}.e359_481 { 
	background-color:rgba(255, 255, 255, 1);
	width:1442px;
	height:2864px;
	position:absolute;
	left:1px;
	top:510px;
}.e360_337 { 
	color:rgba(57.00000040233135, 62.00000010430813, 70.00000342726707, 1);
	width:202px;
	height:65px;
	position:absolute;
	left:78px;
	top:1755px;
	font-family:Open Sans;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e360_339 { 
	transform: rotate(90.23433726220833deg);
	width:1693.7186279296875px;
	height:3.866940498352051px;
	position:absolute;
	left:83.79412841796875px;
	top:26.01580810546875px;
}.360_339 { 
	border:10px solid rgba(57.00000040233135, 62.00000010430813, 70.00000342726707, 1);
}.e360_579 { 
	background-color:rgba(141.31250202655792, 141.31250202655792, 141.31250202655792, 1);
	width:627px;
	height:415px;
	position:absolute;
	left:758px;
	top:26px;
}.e360_580 { 
	color:rgba(0, 0, 0, 1);
	width:446px;
	height:41px;
	position:absolute;
	left:849px;
	top:222px;
	font-family:Open Sans;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e360_590 { 
	color:rgba(0, 0, 0, 1);
	width:583px;
	height:445px;
	position:absolute;
	left:130px;
	top:26px;
	font-family:Open Sans;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}.e480_123 { 
	color:rgba(0, 0, 0, 1);
	width:1210px;
	height:184px;
	position:absolute;
	left:130px;
	top:471px;
	font-family:Open Sans;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}.e505_462 { 
	color:rgba(0, 0, 0, 1);
	width:1210px;
	height:169px;
	position:absolute;
	left:131px;
	top:909px;
	font-family:Open Sans;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}.e480_128 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:1443px;
	height:471px;
	position:absolute;
	left:0px;
	top:39px;
}.e358_397 { 
	background-color:rgba(57.00000040233135, 62.00000010430813, 70.00000342726707, 1);
	width:1440px;
	height:471px;
	position:absolute;
	left:2px;
	top:0px;
}.e421_176 { 
	box-shadow:10px 10px 4px rgba(0, 0, 0, 0.25);
	width:300px;
	height:300px;
	position:absolute;
	left:569px;
	top:20px;
}.ei421_176_476_206 { 
	border-radius:500px;
	background-color:rgba(0, 173.00000488758087, 181.0000044107437, 1);
	width:300px;
	height:300px;
	position:absolute;
	left:0px;
	top:0px;
}.ei421_176_421_165 { 
	border-radius:500px;
	background-color:rgba(236.93750202655792, 236.93750202655792, 236.93750202655792, 1);
	width:270px;
	height:270px;
	position:absolute;
	left:15px;
	top:15px;
}.ei421_176_421_168 { 
	width:270px;
	height:270px;
	position:absolute;
	left:15px;
	top:15px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.ei421_176_421_168_397_60 { 
	width:270px;
	height:270px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
	background-image:url(images/social_coding__1__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e478_730 { 
	width:419px;
	height:58px;
	position:absolute;
	left:287px;
	top:348px;
}.e478_477 { 
	background-color:rgba(88.00000235438347, 101.00000157952309, 242.00000077486038, 1);
	width:419px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e414_215 { 
	color:rgba(255, 255, 255, 1);
	width:320.9581298828125px;
	height:49px;
	position:absolute;
	left:77px;
	top:5px;
	font-family:Open Sans;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}.e478_655 { 
	width:53.66502380371094px;
	height:37px;
	position:absolute;
	left:12px;
	top:10px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images/20_200938_white_discord_logo_png_png_free_discord_logo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e478_1272 { 
	width:455px;
	height:58px;
	position:absolute;
	left:730px;
	top:349px;
}.e478_757 { 
	width:455px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
}.e478_758 { 
	background-color:rgba(255, 255, 255, 1);
	width:455px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:10px;
}.e478_759 { 
	color:rgba(0, 0, 0, 1);
	width:373.55841064453125px;
	height:49px;
	position:absolute;
	left:81px;
	top:4px;
	font-family:Open Sans;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}.e478_1231 { 
	width:52.6688117980957px;
	height:37px;
	position:absolute;
	left:19.506967544555664px;
	top:10px;
	background-image:url(images/clipart396044_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e361_594 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:1440px;
	height:39px;
	position:absolute;
	left:0px;
	top:0px;
}.ei361_594_361_267 { 
	background-color:rgba(34.00000177323818, 40.00000141561031, 49.00000087916851, 1);
	width:1440px;
	height:39px;
	position:absolute;
	left:0px;
	top:0px;
}.ei361_594_354_28 { 
	width:300px;
	height:40px;
	position:absolute;
	left:60px;
	top:0px;
}.ei361_594_354_23 { 
	width:100px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
}.ei361_594_354_23_331_24 { 
	color:rgba(0, 173.00000488758087, 181.0000044107437, 1);
	width:90.78014373779297px;
	height:39.024391174316406px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Eczar;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.ei361_594_342_18 { 
	width:100px;
	height:40px;
	position:absolute;
	left:100px;
	top:0px;
}.ei361_594_342_18_331_24 { 
	color:rgba(0, 173.00000488758087, 181.0000044107437, 1);
	width:90.78014373779297px;
	height:39.024391174316406px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Eczar;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.ei361_594_342_16 { 
	width:100px;
	height:40px;
	position:absolute;
	left:200px;
	top:0px;
}.ei361_594_342_16_331_24 { 
	color:rgba(0, 173.00000488758087, 181.0000044107437, 1);
	width:90.78014373779297px;
	height:39.024391174316406px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Eczar;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.ei361_594_361_524 { 
	width:28px;
	height:28px;
	position:absolute;
	left:10px;
	top:6px;
}.ei361_594_361_525 { 
	background-color:rgba(238.00000101327896, 238.00000101327896, 238.00000101327896, 1);
	width:23.333332061767578px;
	height:19.833332061767578px;
	position:absolute;
	left:2.3333234786987305px;
	top:3.5px;
}.ei361_594_361_526 { 
	width:28px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
}.e358_268 { 
	background-color:rgba(57.00000040233135, 62.00000010430813, 70.00000342726707, 1);
	width:1440px;
	height:572px;
	position:absolute;
	left:0px;
	top:3374px;
}.e360_324 { 
	color:rgba(255, 255, 255, 1);
	width:277px;
	height:85px;
	position:absolute;
	left:581px;
	top:22px;
	font-family:Eczar;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e421_81 { 
	color:rgba(255, 255, 255, 1);
	width:1000px;
	height:400px;
	position:absolute;
	left:218px;
	top:107px;
	font-family:Eczar;
	text-align:center;
	font-size:200px;
	letter-spacing:0;
}.e505_321 { 
	color:rgba(255, 255, 255, 1);
	width:419px;
	height:64px;
	position:absolute;
	left:509px;
	top:368px;
	font-family:Eczar;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}.e477_1906 { 
	box-shadow:0px 1px 2px rgba(0, 14.200002383440733, 51.00000075995922, 0.25);
	background-color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	opacity:0.5;
	width:426px;
	height:396px;
	position:absolute;
	left:76px;
	top:2375px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
}.e477_1752 { 
	width:378px;
	height:348px;
	position:absolute;
	left:24px;
	top:24px;
}.e477_1753 { 
	width:378px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
}.ei477_1753_7_1816 { 
	box-shadow:0px 1px 1px rgba(0, 14.200002383440733, 51.00000075995922, 0.05000000074505806);
	background-color:rgba(255, 255, 255, 1);
	width:44px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:80px;
	border-top-right-radius:80px;
	border-bottom-left-radius:80px;
	border-bottom-right-radius:80px;
}.ei477_1753_7_1816_7_1720 { 
	transform: rotate(90.00000250447808deg);
	width:24px;
	height:24px;
	position:absolute;
	left:34px;
	top:10px;
}.ei477_1753_7_1816_7_1720_7_978 { 
	background-color:rgba(0, 0, 0, 1);
	width:17.1181697845459px;
	height:9.677652359008789px;
	position:absolute;
	left:3.440918207168579px;
	top:7.8819580078125px;
}.ei477_1753_7_1816_7_1720_7_979 { 
	transform: rotate(90.00000250447808deg);
	width:8px;
	height:16.00016212463379px;
	position:absolute;
	left:16.559165954589844px;
	top:1.1180408000946045px;
}.i477_1753_7_1816_7_1720_7_979 { 
	border:2.5px solid rgba(0, 0, 0, 1);
}.ei477_1753_7_1835 { 
	box-shadow:0px 1px 1px rgba(0, 14.200002383440733, 51.00000075995922, 0.05000000074505806);
	background-color:rgba(255, 255, 255, 1);
	width:44px;
	height:44px;
	position:absolute;
	left:334px;
	top:0px;
	border-top-left-radius:80px;
	border-top-right-radius:80px;
	border-bottom-left-radius:80px;
	border-bottom-right-radius:80px;
}.ei477_1753_7_1835_7_1766 { 
	transform: rotate(89.99999749552194deg);
	width:24px;
	height:24px;
	position:absolute;
	left:10.000001907348633px;
	top:10px;
}.ei477_1753_7_1835_7_1766_7_978 { 
	background-color:rgba(0, 0, 0, 1);
	width:17.1181697845459px;
	height:9.677652359008789px;
	position:absolute;
	left:3.440918207168579px;
	top:7.8819580078125px;
}.ei477_1753_7_1835_7_1766_7_979 { 
	transform: rotate(90.00000250447808deg);
	width:8px;
	height:16.00016212463379px;
	position:absolute;
	left:16.559165954589844px;
	top:1.1180408000946045px;
}.i477_1753_7_1835_7_1766_7_979 { 
	border:2.5px solid rgba(0, 0, 0, 1);
}.ei477_1753_7_3201 { 
	width:185px;
	height:44px;
	position:absolute;
	left:96.5px;
	top:0px;
}.ei477_1753_7_3202 { 
	box-shadow:0px 1px 1px rgba(0, 14.200002383440733, 51.00000075995922, 0.05000000074505806);
	background-color:rgba(255, 255, 255, 1);
	width:93px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}.i477_1753_7_3202 { 
	border:2px solid rgba(0, 71.39999270439148, 255, 1);
}.ei477_1753_7_3202_38_12374 { 
	width:69px;
	height:24px;
	position:absolute;
	left:12px;
	top:10px;
}.ei477_1753_7_3202_38_12375 { 
	color:rgba(20.399999544024467, 20.399999544024467, 20.399999544024467, 1);
	width:59px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Lexend;
	text-align:center;
	font-size:24px;
	letter-spacing:-1;
}.ei477_1753_7_3202_38_12376 { 
	width:8px;
	height:24px;
	position:absolute;
	left:61px;
	top:0px;
}.ei477_1753_7_3202_38_12376_38_12394 { 
	background-color:rgba(0, 71.39999270439148, 255, 1);
	width:8px;
	height:8px;
	position:absolute;
	left:0px;
	top:11px;
	border-radius:Symbol(figma.mixed)px;
}.ei477_1753_7_3203 { 
	box-shadow:0px 1px 1px rgba(0, 14.200002383440733, 51.00000075995922, 0.05000000074505806);
	background-color:rgba(255, 255, 255, 1);
	width:90px;
	height:44px;
	position:absolute;
	left:95px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}.ei477_1753_7_3203_7_3050 { 
	width:66px;
	height:24px;
	position:absolute;
	left:12px;
	top:10px;
}.ei477_1753_7_3203_7_3051 { 
	color:rgba(20.399999544024467, 20.399999544024467, 20.399999544024467, 1);
	width:56px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Lexend;
	text-align:center;
	font-size:24px;
	letter-spacing:-1;
}.ei477_1753_7_3203_15_2479 { 
	width:8px;
	height:24px;
	position:absolute;
	left:58px;
	top:0px;
}.ei477_1753_7_3203_15_2479_15_2397 { 
	background-color:rgba(0, 71.39999270439148, 255, 1);
	width:8px;
	height:8px;
	position:absolute;
	left:0px;
	top:13px;
	border-radius:Symbol(figma.mixed)px;
}.e477_1754 { 
	width:378px;
	height:44px;
	position:absolute;
	left:0px;
	top:56px;
}.ei477_1754_7_2328 { 
	width:54px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.ei477_1754_7_2328_7_2322 { 
	width:49px;
	height:44px;
	position:absolute;
	left:2.5px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.ei477_1754_7_2328_7_2323 { 
	color:rgba(30.5999993160367, 30.5999993160367, 30.5999993160367, 1);
	width:27px;
	height:18px;
	position:absolute;
	left:11px;
	top:13px;
	font-family:Lexend;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.ei477_1754_7_2331 { 
	width:54px;
	height:44px;
	position:absolute;
	left:54px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.ei477_1754_7_2331_7_2322 { 
	width:49px;
	height:44px;
	position:absolute;
	left:2.5px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.ei477_1754_7_2331_7_2323 { 
	color:rgba(30.5999993160367, 30.5999993160367, 30.5999993160367, 1);
	width:20px;
	height:18px;
	position:absolute;
	left:14.5px;
	top:13px;
	font-family:Lexend;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.ei477_1754_7_2334 { 
	width:54px;
	height:44px;
	position:absolute;
	left:108px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.ei477_1754_7_2334_7_2322 { 
	width:49px;
	height:44px;
	position:absolute;
	left:2.5px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.ei477_1754_7_2334_7_2323 { 
	color:rgba(30.5999993160367, 30.5999993160367, 30.5999993160367, 1);
	width:29px;
	height:18px;
	position:absolute;
	left:10px;
	top:13px;
	font-family:Lexend;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.ei477_1754_7_2337 { 
	width:54px;
	height:44px;
	position:absolute;
	left:162px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.ei477_1754_7_2337_7_2322 { 
	width:49px;
	height:44px;
	position:absolute;
	left:2.5px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.ei477_1754_7_2337_7_2323 { 
	color:rgba(30.5999993160367, 30.5999993160367, 30.5999993160367, 1);
	width:22px;
	height:18px;
	position:absolute;
	left:13.5px;
	top:13px;
	font-family:Lexend;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.ei477_1754_7_2340 { 
	width:54px;
	height:44px;
	position:absolute;
	left:216px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.ei477_1754_7_2340_7_2322 { 
	width:49px;
	height:44px;
	position:absolute;
	left:2.5px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.ei477_1754_7_2340_7_2323 { 
	color:rgba(30.5999993160367, 30.5999993160367, 30.5999993160367, 1);
	width:18px;
	height:18px;
	position:absolute;
	left:15.5px;
	top:13px;
	font-family:Lexend;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.ei477_1754_7_2343 { 
	width:54px;
	height:44px;
	position:absolute;
	left:270px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.ei477_1754_7_2343_7_2322 { 
	width:49px;
	height:44px;
	position:absolute;
	left:2.5px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.ei477_1754_7_2343_7_2323 { 
	color:rgba(30.5999993160367, 30.5999993160367, 30.5999993160367, 1);
	width:23px;
	height:18px;
	position:absolute;
	left:13px;
	top:13px;
	font-family:Lexend;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.ei477_1754_7_2346 { 
	width:54px;
	height:44px;
	position:absolute;
	left:324px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.ei477_1754_7_2346_7_2322 { 
	width:49px;
	height:44px;
	position:absolute;
	left:2.5px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.ei477_1754_7_2346_7_2323 { 
	color:rgba(30.5999993160367, 30.5999993160367, 30.5999993160367, 1);
	width:23px;
	height:18px;
	position:absolute;
	left:13px;
	top:13px;
	font-family:Lexend;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e477_1755 { 
	width:378px;
	height:236px;
	position:absolute;
	left:0px;
	top:112px;
}.e477_1756 { 
	width:378px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
}.e477_1757 { 
	width:54px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.ei477_1757_7_608 { 
	width:50px;
	height:44px;
	position:absolute;
	left:2px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}.ei477_1757_7_609 { 
	color:rgba(0, 23.359970413148403, 83.93750354647636, 0.15000000596046448);
	width:20px;
	height:18px;
	position:absolute;
	left:15px;
	top:13px;
	font-family:Lexend;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e477_1758 { 
	width:54px;
	height:44px;
	position:absolute;
	left:54px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.ei477_1758_7_608 { 
	width:50px;
	height:44px;
	position:absolute;
	left:2px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}.ei477_1758_7_609 { 
	color:rgba(0, 23.359970413148403, 83.93750354647636, 0.15000000596046448);
	width:21px;
	height:18px;
	position:absolute;
	left:14.5px;
	top:13px;
	font-family:Lexend;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e477_1759 { 
	width:54px;
	height:44px;
	position:absolute;
	left:108px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.ei477_1759_7_608 { 
	width:50px;
	height:44px;
	position:absolute;
	left:2px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}.ei477_1759_7_609 { 
	color:rgba(0, 23.359970413148403, 83.93750354647636, 0.15000000596046448);
	width:19px;
	height:18px;
	position:absolute;
	left:15.5px;
	top:13px;
	font-family:Lexend;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e477_1760 { 
	width:54px;
	height:44px;
	position:absolute;
	left:162px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.ei477_1760_7_559 { 
	box-shadow:0px 1px 1px rgba(0, 14.200002383440733, 51.00000075995922, 0.05000000074505806);
	background-color:rgba(255, 255, 255, 1);
	width:50px;
	height:44px;
	position:absolute;
	left:2px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}.ei477_1760_4_665 { 
	color:rgba(30.5999993160367, 30.5999993160367, 30.5999993160367, 1);
	width:9px;
	height:18px;
	position:absolute;
	left:20.5px;
	top:13px;
	font-family:Lexend;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e477_1761 { 
	width:54px;
	height:44px;
	position:absolute;
	left:216px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.ei477_1761_7_559 { 
	box-shadow:0px 1px 1px rgba(0, 14.200002383440733, 51.00000075995922, 0.05000000074505806);
	background-color:rgba(255, 255, 255, 1);
	width:50px;
	height:44px;
	position:absolute;
	left:2px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}.ei477_1761_4_665 { 
	color:rgba(30.5999993160367, 30.5999993160367, 30.5999993160367, 1);
	width:10px;
	height:18px;
	position:absolute;
	left:20px;
	top:13px;
	font-family:Lexend;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e477_1762 { 
	width:54px;
	height:44px;
	position:absolute;
	left:270px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.ei477_1762_7_559 { 
	box-shadow:0px 1px 1px rgba(0, 14.200002383440733, 51.00000075995922, 0.05000000074505806);
	background-color:rgba(255, 255, 255, 1);
	width:50px;
	height:44px;
	position:absolute;
	left:2px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}.ei477_1762_4_665 { 
	color:rgba(30.5999993160367, 30.5999993160367, 30.5999993160367, 1);
	width:10px;
	height:18px;
	position:absolute;
	left:20px;
	top:13px;
	font-family:Lexend;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e477_1763 { 
	width:54px;
	height:44px;
	position:absolute;
	left:324px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.ei477_1763_7_559 { 
	box-shadow:0px 1px 1px rgba(0, 14.200002383440733, 51.00000075995922, 0.05000000074505806);
	background-color:rgba(255, 255, 255, 1);
	width:50px;
	height:44px;
	position:absolute;
	left:2px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}.ei477_1763_4_665 { 
	color:rgba(30.5999993160367, 30.5999993160367, 30.5999993160367, 1);
	width:12px;
	height:18px;
	position:absolute;
	left:19px;
	top:13px;
	font-family:Lexend;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e477_1764 { 
	width:378px;
	height:44px;
	position:absolute;
	left:0px;
	top:48px;
}.e477_1765 { 
	width:54px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.ei477_1765_7_559 { 
	box-shadow:0px 1px 1px rgba(0, 14.200002383440733, 51.00000075995922, 0.05000000074505806);
	background-color:rgba(255, 255, 255, 1);
	width:50px;
	height:44px;
	position:absolute;
	left:2px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}.ei477_1765_4_665 { 
	color:rgba(30.5999993160367, 30.5999993160367, 30.5999993160367, 1);
	width:11px;
	height:18px;
	position:absolute;
	left:19.5px;
	top:13px;
	font-family:Lexend;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e477_1766 { 
	width:54px;
	height:44px;
	position:absolute;
	left:54px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.ei477_1766_7_559 { 
	box-shadow:0px 1px 1px rgba(0, 14.200002383440733, 51.00000075995922, 0.05000000074505806);
	background-color:rgba(255, 255, 255, 1);
	width:50px;
	height:44px;
	position:absolute;
	left:2px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}.ei477_1766_4_665 { 
	color:rgba(30.5999993160367, 30.5999993160367, 30.5999993160367, 1);
	width:11px;
	height:18px;
	position:absolute;
	left:19.5px;
	top:13px;
	font-family:Lexend;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e477_1767 { 
	width:54px;
	height:44px;
	position:absolute;
	left:108px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.ei477_1767_7_574 { 
	background-color:rgba(0, 71.39999270439148, 255, 1);
	width:50px;
	height:44px;
	position:absolute;
	left:2px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}.ei477_1767_7_575 { 
	color:rgba(255, 255, 255, 1);
	width:10px;
	height:18px;
	position:absolute;
	left:20px;
	top:13px;
	font-family:Lexend;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e477_1768 { 
	width:54px;
	height:44px;
	position:absolute;
	left:162px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.ei477_1768_7_559 { 
	box-shadow:0px 1px 1px rgba(0, 14.200002383440733, 51.00000075995922, 0.05000000074505806);
	background-color:rgba(255, 255, 255, 1);
	width:50px;
	height:44px;
	position:absolute;
	left:2px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}.ei477_1768_4_665 { 
	color:rgba(30.5999993160367, 30.5999993160367, 30.5999993160367, 1);
	width:11px;
	height:18px;
	position:absolute;
	left:19.5px;
	top:13px;
	font-family:Lexend;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e477_1769 { 
	width:54px;
	height:44px;
	position:absolute;
	left:216px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.ei477_1769_7_559 { 
	box-shadow:0px 1px 1px rgba(0, 14.200002383440733, 51.00000075995922, 0.05000000074505806);
	background-color:rgba(255, 255, 255, 1);
	width:50px;
	height:44px;
	position:absolute;
	left:2px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}.ei477_1769_4_665 { 
	color:rgba(30.5999993160367, 30.5999993160367, 30.5999993160367, 1);
	width:10px;
	height:18px;
	position:absolute;
	left:20px;
	top:13px;
	font-family:Lexend;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e477_1770 { 
	width:54px;
	height:44px;
	position:absolute;
	left:270px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.ei477_1770_7_559 { 
	box-shadow:0px 1px 1px rgba(0, 14.200002383440733, 51.00000075995922, 0.05000000074505806);
	background-color:rgba(255, 255, 255, 1);
	width:50px;
	height:44px;
	position:absolute;
	left:2px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}.ei477_1770_4_665 { 
	color:rgba(30.5999993160367, 30.5999993160367, 30.5999993160367, 1);
	width:20px;
	height:18px;
	position:absolute;
	left:15px;
	top:13px;
	font-family:Lexend;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e477_1771 { 
	width:54px;
	height:44px;
	position:absolute;
	left:324px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.ei477_1771_7_559 { 
	box-shadow:0px 1px 1px rgba(0, 14.200002383440733, 51.00000075995922, 0.05000000074505806);
	background-color:rgba(255, 255, 255, 1);
	width:50px;
	height:44px;
	position:absolute;
	left:2px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}.ei477_1771_4_665 { 
	color:rgba(30.5999993160367, 30.5999993160367, 30.5999993160367, 1);
	width:18px;
	height:18px;
	position:absolute;
	left:16px;
	top:13px;
	font-family:Lexend;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e477_1772 { 
	width:378px;
	height:44px;
	position:absolute;
	left:0px;
	top:96px;
}.e477_1773 { 
	width:54px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.ei477_1773_7_559 { 
	box-shadow:0px 1px 1px rgba(0, 14.200002383440733, 51.00000075995922, 0.05000000074505806);
	background-color:rgba(255, 255, 255, 1);
	width:50px;
	height:44px;
	position:absolute;
	left:2px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}.ei477_1773_4_665 { 
	color:rgba(30.5999993160367, 30.5999993160367, 30.5999993160367, 1);
	width:19px;
	height:18px;
	position:absolute;
	left:15.5px;
	top:13px;
	font-family:Lexend;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e477_1774 { 
	width:54px;
	height:44px;
	position:absolute;
	left:54px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.ei477_1774_7_559 { 
	box-shadow:0px 1px 1px rgba(0, 14.200002383440733, 51.00000075995922, 0.05000000074505806);
	background-color:rgba(255, 255, 255, 1);
	width:50px;
	height:44px;
	position:absolute;
	left:2px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}.ei477_1774_4_665 { 
	color:rgba(30.5999993160367, 30.5999993160367, 30.5999993160367, 1);
	width:19px;
	height:18px;
	position:absolute;
	left:15.5px;
	top:13px;
	font-family:Lexend;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e477_1775 { 
	width:54px;
	height:44px;
	position:absolute;
	left:108px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.ei477_1775_7_559 { 
	box-shadow:0px 1px 1px rgba(0, 14.200002383440733, 51.00000075995922, 0.05000000074505806);
	background-color:rgba(255, 255, 255, 1);
	width:50px;
	height:44px;
	position:absolute;
	left:2px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}.ei477_1775_4_665 { 
	color:rgba(30.5999993160367, 30.5999993160367, 30.5999993160367, 1);
	width:21px;
	height:18px;
	position:absolute;
	left:14.5px;
	top:13px;
	font-family:Lexend;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e477_1776 { 
	width:54px;
	height:44px;
	position:absolute;
	left:162px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.ei477_1776_7_559 { 
	box-shadow:0px 1px 1px rgba(0, 14.200002383440733, 51.00000075995922, 0.05000000074505806);
	background-color:rgba(255, 255, 255, 1);
	width:50px;
	height:44px;
	position:absolute;
	left:2px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}.ei477_1776_4_665 { 
	color:rgba(30.5999993160367, 30.5999993160367, 30.5999993160367, 1);
	width:20px;
	height:18px;
	position:absolute;
	left:15px;
	top:13px;
	font-family:Lexend;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e477_1777 { 
	width:54px;
	height:44px;
	position:absolute;
	left:216px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.ei477_1777_7_559 { 
	box-shadow:0px 1px 1px rgba(0, 14.200002383440733, 51.00000075995922, 0.05000000074505806);
	background-color:rgba(255, 255, 255, 1);
	width:50px;
	height:44px;
	position:absolute;
	left:2px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}.ei477_1777_4_665 { 
	color:rgba(30.5999993160367, 30.5999993160367, 30.5999993160367, 1);
	width:11px;
	height:18px;
	position:absolute;
	left:19.5px;
	top:13px;
	font-family:Lexend;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e477_1778 { 
	width:54px;
	height:44px;
	position:absolute;
	left:270px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.ei477_1778_7_559 { 
	box-shadow:0px 1px 1px rgba(0, 14.200002383440733, 51.00000075995922, 0.05000000074505806);
	background-color:rgba(255, 255, 255, 1);
	width:50px;
	height:44px;
	position:absolute;
	left:2px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}.ei477_1778_4_665 { 
	color:rgba(30.5999993160367, 30.5999993160367, 30.5999993160367, 1);
	width:19px;
	height:18px;
	position:absolute;
	left:15.5px;
	top:13px;
	font-family:Lexend;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e477_1779 { 
	width:54px;
	height:44px;
	position:absolute;
	left:324px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.ei477_1779_7_559 { 
	box-shadow:0px 1px 1px rgba(0, 14.200002383440733, 51.00000075995922, 0.05000000074505806);
	background-color:rgba(255, 255, 255, 1);
	width:50px;
	height:44px;
	position:absolute;
	left:2px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}.ei477_1779_4_665 { 
	color:rgba(30.5999993160367, 30.5999993160367, 30.5999993160367, 1);
	width:20px;
	height:18px;
	position:absolute;
	left:15px;
	top:13px;
	font-family:Lexend;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e477_1780 { 
	width:378px;
	height:44px;
	position:absolute;
	left:0px;
	top:144px;
}.e477_1781 { 
	width:54px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.ei477_1781_7_559 { 
	box-shadow:0px 1px 1px rgba(0, 14.200002383440733, 51.00000075995922, 0.05000000074505806);
	background-color:rgba(255, 255, 255, 1);
	width:50px;
	height:44px;
	position:absolute;
	left:2px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}.ei477_1781_4_665 { 
	color:rgba(30.5999993160367, 30.5999993160367, 30.5999993160367, 1);
	width:19px;
	height:18px;
	position:absolute;
	left:15.5px;
	top:13px;
	font-family:Lexend;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e477_1782 { 
	width:54px;
	height:44px;
	position:absolute;
	left:54px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.ei477_1782_7_559 { 
	box-shadow:0px 1px 1px rgba(0, 14.200002383440733, 51.00000075995922, 0.05000000074505806);
	background-color:rgba(255, 255, 255, 1);
	width:50px;
	height:44px;
	position:absolute;
	left:2px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}.ei477_1782_4_665 { 
	color:rgba(30.5999993160367, 30.5999993160367, 30.5999993160367, 1);
	width:21px;
	height:18px;
	position:absolute;
	left:14.5px;
	top:13px;
	font-family:Lexend;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e477_1783 { 
	width:54px;
	height:44px;
	position:absolute;
	left:108px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.ei477_1783_7_559 { 
	box-shadow:0px 1px 1px rgba(0, 14.200002383440733, 51.00000075995922, 0.05000000074505806);
	background-color:rgba(255, 255, 255, 1);
	width:50px;
	height:44px;
	position:absolute;
	left:2px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}.ei477_1783_4_665 { 
	color:rgba(30.5999993160367, 30.5999993160367, 30.5999993160367, 1);
	width:19px;
	height:18px;
	position:absolute;
	left:15.5px;
	top:13px;
	font-family:Lexend;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e477_1784 { 
	width:54px;
	height:44px;
	position:absolute;
	left:162px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.ei477_1784_7_559 { 
	box-shadow:0px 1px 1px rgba(0, 14.200002383440733, 51.00000075995922, 0.05000000074505806);
	background-color:rgba(255, 255, 255, 1);
	width:50px;
	height:44px;
	position:absolute;
	left:2px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}.ei477_1784_4_665 { 
	color:rgba(30.5999993160367, 30.5999993160367, 30.5999993160367, 1);
	width:20px;
	height:18px;
	position:absolute;
	left:15px;
	top:13px;
	font-family:Lexend;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e477_1785 { 
	width:54px;
	height:44px;
	position:absolute;
	left:216px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.ei477_1785_7_559 { 
	box-shadow:0px 1px 1px rgba(0, 14.200002383440733, 51.00000075995922, 0.05000000074505806);
	background-color:rgba(255, 255, 255, 1);
	width:50px;
	height:44px;
	position:absolute;
	left:2px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}.ei477_1785_4_665 { 
	color:rgba(30.5999993160367, 30.5999993160367, 30.5999993160367, 1);
	width:20px;
	height:18px;
	position:absolute;
	left:15px;
	top:13px;
	font-family:Lexend;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e477_1786 { 
	width:54px;
	height:44px;
	position:absolute;
	left:270px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.ei477_1786_7_559 { 
	box-shadow:0px 1px 1px rgba(0, 14.200002383440733, 51.00000075995922, 0.05000000074505806);
	background-color:rgba(255, 255, 255, 1);
	width:50px;
	height:44px;
	position:absolute;
	left:2px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}.ei477_1786_4_665 { 
	color:rgba(30.5999993160367, 30.5999993160367, 30.5999993160367, 1);
	width:21px;
	height:18px;
	position:absolute;
	left:14.5px;
	top:13px;
	font-family:Lexend;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e477_1787 { 
	width:54px;
	height:44px;
	position:absolute;
	left:324px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.ei477_1787_7_559 { 
	box-shadow:0px 1px 1px rgba(0, 14.200002383440733, 51.00000075995922, 0.05000000074505806);
	background-color:rgba(255, 255, 255, 1);
	width:50px;
	height:44px;
	position:absolute;
	left:2px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}.ei477_1787_4_665 { 
	color:rgba(30.5999993160367, 30.5999993160367, 30.5999993160367, 1);
	width:21px;
	height:18px;
	position:absolute;
	left:14.5px;
	top:13px;
	font-family:Lexend;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e477_1788 { 
	width:378px;
	height:44px;
	position:absolute;
	left:0px;
	top:192px;
}.e477_1789 { 
	width:54px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.ei477_1789_7_559 { 
	box-shadow:0px 1px 1px rgba(0, 14.200002383440733, 51.00000075995922, 0.05000000074505806);
	background-color:rgba(255, 255, 255, 1);
	width:50px;
	height:44px;
	position:absolute;
	left:2px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}.ei477_1789_4_665 { 
	color:rgba(30.5999993160367, 30.5999993160367, 30.5999993160367, 1);
	width:20px;
	height:18px;
	position:absolute;
	left:15px;
	top:13px;
	font-family:Lexend;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e477_1790 { 
	width:54px;
	height:44px;
	position:absolute;
	left:54px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.ei477_1790_7_559 { 
	box-shadow:0px 1px 1px rgba(0, 14.200002383440733, 51.00000075995922, 0.05000000074505806);
	background-color:rgba(255, 255, 255, 1);
	width:50px;
	height:44px;
	position:absolute;
	left:2px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}.ei477_1790_4_665 { 
	color:rgba(30.5999993160367, 30.5999993160367, 30.5999993160367, 1);
	width:20px;
	height:18px;
	position:absolute;
	left:15px;
	top:13px;
	font-family:Lexend;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e477_1791 { 
	width:54px;
	height:44px;
	position:absolute;
	left:108px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.ei477_1791_7_559 { 
	box-shadow:0px 1px 1px rgba(0, 14.200002383440733, 51.00000075995922, 0.05000000074505806);
	background-color:rgba(255, 255, 255, 1);
	width:50px;
	height:44px;
	position:absolute;
	left:2px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}.ei477_1791_4_665 { 
	color:rgba(30.5999993160367, 30.5999993160367, 30.5999993160367, 1);
	width:21px;
	height:18px;
	position:absolute;
	left:14.5px;
	top:13px;
	font-family:Lexend;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e477_1792 { 
	width:54px;
	height:44px;
	position:absolute;
	left:162px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.ei477_1792_7_559 { 
	box-shadow:0px 1px 1px rgba(0, 14.200002383440733, 51.00000075995922, 0.05000000074505806);
	background-color:rgba(255, 255, 255, 1);
	width:50px;
	height:44px;
	position:absolute;
	left:2px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}.ei477_1792_4_665 { 
	color:rgba(30.5999993160367, 30.5999993160367, 30.5999993160367, 1);
	width:20px;
	height:18px;
	position:absolute;
	left:15px;
	top:13px;
	font-family:Lexend;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e477_1793 { 
	width:54px;
	height:44px;
	position:absolute;
	left:216px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.ei477_1793_7_559 { 
	box-shadow:0px 1px 1px rgba(0, 14.200002383440733, 51.00000075995922, 0.05000000074505806);
	background-color:rgba(255, 255, 255, 1);
	width:50px;
	height:44px;
	position:absolute;
	left:2px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}.ei477_1793_4_665 { 
	color:rgba(30.5999993160367, 30.5999993160367, 30.5999993160367, 1);
	width:21px;
	height:18px;
	position:absolute;
	left:14.5px;
	top:13px;
	font-family:Lexend;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e477_1794 { 
	width:54px;
	height:44px;
	position:absolute;
	left:270px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.ei477_1794_7_608 { 
	width:50px;
	height:44px;
	position:absolute;
	left:2px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}.ei477_1794_7_609 { 
	color:rgba(0, 23.359970413148403, 83.93750354647636, 0.15000000596046448);
	width:9px;
	height:18px;
	position:absolute;
	left:20.5px;
	top:13px;
	font-family:Lexend;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e477_1795 { 
	width:54px;
	height:44px;
	position:absolute;
	left:324px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.ei477_1795_7_608 { 
	width:50px;
	height:44px;
	position:absolute;
	left:2px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}.ei477_1795_7_609 { 
	color:rgba(0, 23.359970413148403, 83.93750354647636, 0.15000000596046448);
	width:10px;
	height:18px;
	position:absolute;
	left:20px;
	top:13px;
	font-family:Lexend;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}