.477_472 { 
	overflow:hidden;
}.e477_472 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1801px;
	position:absolute;
}.e477_473 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:1440px;
	height:80px;
	position:absolute;
	left:0px;
	top:-2.842170943040401e-14px;
}.ei477_473_355_108 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:1440px;
	height:39px;
	position:absolute;
	left:0px;
	top:2.842170943040401e-14px;
}.ei477_473_355_108_361_267 { 
	background-color:rgba(34.00000177323818, 40.00000141561031, 49.00000087916851, 1);
	width:1440px;
	height:39px;
	position:absolute;
	left:0px;
	top:0px;
}.ei477_473_355_108_354_28 { 
	width:300px;
	height:40px;
	position:absolute;
	left:60px;
	top:0px;
}.ei477_473_355_108_354_23 { 
	width:100px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
}.ei477_473_355_108_354_23_331_24 { 
	color:rgba(0, 173.00000488758087, 181.0000044107437, 1);
	width:90.78014373779297px;
	height:39.024391174316406px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Eczar;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.ei477_473_355_108_342_18 { 
	width:100px;
	height:40px;
	position:absolute;
	left:100px;
	top:0px;
}.ei477_473_355_108_342_18_331_24 { 
	color:rgba(0, 173.00000488758087, 181.0000044107437, 1);
	width:90.78014373779297px;
	height:39.024391174316406px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Eczar;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.ei477_473_355_108_342_16 { 
	width:100px;
	height:40px;
	position:absolute;
	left:200px;
	top:0px;
}.ei477_473_355_108_342_16_331_24 { 
	color:rgba(0, 173.00000488758087, 181.0000044107437, 1);
	width:90.78014373779297px;
	height:39.024391174316406px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Eczar;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.ei477_473_355_108_361_524 { 
	width:28px;
	height:28px;
	position:absolute;
	left:10px;
	top:6px;
}.ei477_473_355_108_361_525 { 
	background-color:rgba(238.00000101327896, 238.00000101327896, 238.00000101327896, 1);
	width:23.333332061767578px;
	height:19.833332061767578px;
	position:absolute;
	left:2.3333234786987305px;
	top:3.5px;
}.ei477_473_355_108_361_526 { 
	width:28px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
}.e477_475 { 
	transform: rotate(-90.00000000000001deg);
	width:206px;
	height:532px;
	position:absolute;
	left:188px;
	top:1107px;
}.ei477_475_374_203 { 
	transform: rotate(90.00000000000001deg);
	color:rgba(0, 0, 0, 1);
	width:293.42266845703125px;
	height:59.24779510498047px;
	position:absolute;
	left:184.1239013671875px;
	top:238.57728576660156px;
	font-family:Open Sans;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}.ei477_475_374_204 { 
	transform: rotate(90.00000000000001deg);
	color:rgba(0, 0, 0, 1);
	width:253px;
	height:37px;
	position:absolute;
	left:125px;
	top:241px;
	font-family:Open Sans;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}.ei477_475_359_31 { 
	transform: rotate(90.00000000000001deg);
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:131px;
	height:131px;
	position:absolute;
	left:190px;
	top:85px;
}.e477_476 { 
	transform: rotate(-90.00000000000001deg);
	width:206px;
	height:532px;
	position:absolute;
	left:720px;
	top:1110px;
}.ei477_476_374_203 { 
	transform: rotate(90.00000000000001deg);
	color:rgba(0, 0, 0, 1);
	width:293.42266845703125px;
	height:59.24779510498047px;
	position:absolute;
	left:184.1239013671875px;
	top:238.57728576660156px;
	font-family:Open Sans;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}.ei477_476_374_204 { 
	transform: rotate(90.00000000000001deg);
	color:rgba(0, 0, 0, 1);
	width:253px;
	height:37px;
	position:absolute;
	left:125px;
	top:241px;
	font-family:Open Sans;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}.ei477_476_359_31 { 
	transform: rotate(90.00000000000001deg);
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:131px;
	height:131px;
	position:absolute;
	left:190px;
	top:85px;
}.e477_477 { 
	transform: rotate(-90.00000000000001deg);
	width:206px;
	height:532px;
	position:absolute;
	left:188px;
	top:1319px;
}.ei477_477_374_203 { 
	transform: rotate(90.00000000000001deg);
	color:rgba(0, 0, 0, 1);
	width:293.42266845703125px;
	height:59.24779510498047px;
	position:absolute;
	left:184.1239013671875px;
	top:238.57728576660156px;
	font-family:Open Sans;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}.ei477_477_374_204 { 
	transform: rotate(90.00000000000001deg);
	color:rgba(0, 0, 0, 1);
	width:255px;
	height:41px;
	position:absolute;
	left:125px;
	top:241px;
	font-family:Open Sans;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}.ei477_477_359_31 { 
	transform: rotate(90.00000000000001deg);
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:131px;
	height:131px;
	position:absolute;
	left:190px;
	top:85px;
}.e477_478 { 
	transform: rotate(-90.00000000000001deg);
	width:206px;
	height:532px;
	position:absolute;
	left:720px;
	top:1319px;
}.ei477_478_374_203 { 
	transform: rotate(90.00000000000001deg);
	color:rgba(0, 0, 0, 1);
	width:366px;
	height:41px;
	position:absolute;
	left:184.1239013671875px;
	top:238.57728576660156px;
	font-family:Open Sans;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}.ei477_478_374_204 { 
	transform: rotate(90.00000000000001deg);
	color:rgba(0, 0, 0, 1);
	width:253px;
	height:37px;
	position:absolute;
	left:125px;
	top:241px;
	font-family:Open Sans;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}.ei477_478_359_31 { 
	transform: rotate(90.00000000000001deg);
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:131px;
	height:131px;
	position:absolute;
	left:190px;
	top:85px;
}.e477_479 { 
	transform: rotate(-90.00000000000001deg);
	width:206px;
	height:532px;
	position:absolute;
	left:188px;
	top:1525px;
}.ei477_479_374_203 { 
	transform: rotate(90.00000000000001deg);
	color:rgba(0, 0, 0, 1);
	width:293.42266845703125px;
	height:59.24779510498047px;
	position:absolute;
	left:184.1239013671875px;
	top:238.57728576660156px;
	font-family:Open Sans;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}.ei477_479_374_204 { 
	transform: rotate(90.00000000000001deg);
	color:rgba(0, 0, 0, 1);
	width:253px;
	height:37px;
	position:absolute;
	left:125px;
	top:241px;
	font-family:Open Sans;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}.ei477_479_359_31 { 
	transform: rotate(90.00000000000001deg);
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:131px;
	height:131px;
	position:absolute;
	left:190px;
	top:85px;
}.e477_519 { 
	color:rgba(255, 255, 255, 1);
	width:600px;
	height:80px;
	position:absolute;
	left:420px;
	top:354px;
	font-family:Open Sans;
	text-align:center;
	font-size:60px;
	letter-spacing:0;
}.e477_520 { 
	width:169px;
	height:48px;
	position:absolute;
	left:635px;
	top:459px;
}.e477_521 { 
	color:rgba(255, 255, 255, 1);
	width:169px;
	height:34px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Open Sans;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e477_522 { 
	width:48px;
	height:48px;
	position:absolute;
	left:121px;
	top:0px;
}.e477_523 { 
	background-color:rgba(255, 255, 255, 1);
	width:24px;
	height:14.819999694824219px;
	position:absolute;
	left:12px;
	top:17.179996490478516px;
}.e477_524 { 
	width:48px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
}.e528_429 { 
	background-color:rgba(57.00000040233135, 62.00000010430813, 70.00000342726707, 1);
	width:1440px;
	height:468px;
	position:absolute;
	left:0px;
	top:34px;
}.e528_430 { 
	color:rgba(255, 255, 255, 1);
	width:600px;
	height:80px;
	position:absolute;
	left:420px;
	top:340px;
	font-family:Open Sans;
	text-align:center;
	font-size:60px;
	letter-spacing:0;
}.e528_437 { 
	color:rgba(0, 0, 0, 1);
	width:115px;
	height:23px;
	position:absolute;
	left:965px;
	top:577px;
	font-family:Open Sans;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e528_438 { 
	box-shadow:10px 10px 4px rgba(0, 0, 0, 0.25);
	width:300px;
	height:300px;
	position:absolute;
	left:570px;
	top:20px;
}.ei528_438_476_206 { 
	border-radius:500px;
	background-color:rgba(0, 173.00000488758087, 181.0000044107437, 1);
	width:300px;
	height:300px;
	position:absolute;
	left:0px;
	top:0px;
}.ei528_438_421_165 { 
	border-radius:500px;
	background-color:rgba(236.93750202655792, 236.93750202655792, 236.93750202655792, 1);
	width:270px;
	height:270px;
	position:absolute;
	left:15px;
	top:15px;
}.ei528_438_421_168 { 
	width:270px;
	height:270px;
	position:absolute;
	left:15px;
	top:15px;
	border-top-left-radius:300px;
	border-top-right-radius:300px;
	border-bottom-left-radius:300px;
	border-bottom-right-radius:300px;
}.ei528_438_421_168_397_60 { 
	width:270px;
	height:270px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:300px;
	border-top-right-radius:300px;
	border-bottom-left-radius:300px;
	border-bottom-right-radius:300px;
	background-image:url(images/social_coding__1__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}