.477_328 { 
	overflow:hidden;
}.e477_328 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1460px;
	position:absolute;
}.e477_329 { 
	background-color:rgba(57.00000040233135, 62.00000010430813, 70.00000342726707, 1);
	width:1440px;
	height:468px;
	position:absolute;
	left:0px;
	top:34px;
}.e477_330 { 
	color:rgba(255, 255, 255, 1);
	width:600px;
	height:80px;
	position:absolute;
	left:420px;
	top:340px;
	font-family:Open Sans;
	text-align:center;
	font-size:60px;
	letter-spacing:0;
}.e477_518 { 
	color:rgba(255, 255, 255, 1);
	width:600px;
	height:80px;
	position:absolute;
	left:420px;
	top:340px;
	font-family:Open Sans;
	text-align:center;
	font-size:60px;
	letter-spacing:0;
}.e477_332 { 
	width:169px;
	height:48px;
	position:absolute;
	left:635px;
	top:420px;
}.e477_333 { 
	color:rgba(255, 255, 255, 1);
	width:169px;
	height:34px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Open Sans;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e477_334 { 
	width:48px;
	height:48px;
	position:absolute;
	left:121px;
	top:0px;
}.e477_335 { 
	background-color:rgba(255, 255, 255, 1);
	width:24px;
	height:14.819999694824219px;
	position:absolute;
	left:12px;
	top:17.179996490478516px;
}.e477_336 { 
	width:48px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
}.e477_337 { 
	color:rgba(0, 0, 0, 1);
	width:115px;
	height:23px;
	position:absolute;
	left:965px;
	top:577px;
	font-family:Open Sans;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e476_356 { 
	box-shadow:10px 10px 4px rgba(0, 0, 0, 0.25);
	width:300px;
	height:300px;
	position:absolute;
	left:570px;
	top:20px;
}.ei476_356_476_206 { 
	border-radius:500px;
	background-color:rgba(0, 173.00000488758087, 181.0000044107437, 1);
	width:300px;
	height:300px;
	position:absolute;
	left:0px;
	top:0px;
}.ei476_356_421_165 { 
	border-radius:500px;
	background-color:rgba(236.93750202655792, 236.93750202655792, 236.93750202655792, 1);
	width:270px;
	height:270px;
	position:absolute;
	left:15px;
	top:15px;
}.ei476_356_421_168 { 
	width:270px;
	height:270px;
	position:absolute;
	left:15px;
	top:15px;
	border-top-left-radius:300px;
	border-top-right-radius:300px;
	border-bottom-left-radius:300px;
	border-bottom-right-radius:300px;
}.ei476_356_421_168_397_60 { 
	width:270px;
	height:270px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:300px;
	border-top-right-radius:300px;
	border-bottom-left-radius:300px;
	border-bottom-right-radius:300px;
	background-image:url(images/social_coding__1__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e477_338 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:1440px;
	height:80px;
	position:absolute;
	left:0px;
	top:0px;
}.ei477_338_355_108 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:1440px;
	height:39px;
	position:absolute;
	left:0px;
	top:2.842170943040401e-14px;
}.ei477_338_355_108_361_267 { 
	background-color:rgba(34.00000177323818, 40.00000141561031, 49.00000087916851, 1);
	width:1440px;
	height:39px;
	position:absolute;
	left:0px;
	top:0px;
}.ei477_338_355_108_354_28 { 
	width:300px;
	height:40px;
	position:absolute;
	left:60px;
	top:0px;
}.ei477_338_355_108_354_23 { 
	width:100px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
}.ei477_338_355_108_354_23_331_24 { 
	color:rgba(0, 173.00000488758087, 181.0000044107437, 1);
	width:90.78014373779297px;
	height:39.024391174316406px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Eczar;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.ei477_338_355_108_342_18 { 
	width:100px;
	height:40px;
	position:absolute;
	left:100px;
	top:0px;
}.ei477_338_355_108_342_18_331_24 { 
	color:rgba(0, 173.00000488758087, 181.0000044107437, 1);
	width:90.78014373779297px;
	height:39.024391174316406px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Eczar;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.ei477_338_355_108_342_16 { 
	width:100px;
	height:40px;
	position:absolute;
	left:200px;
	top:0px;
}.ei477_338_355_108_342_16_331_24 { 
	color:rgba(0, 173.00000488758087, 181.0000044107437, 1);
	width:90.78014373779297px;
	height:39.024391174316406px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Eczar;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.ei477_338_355_108_361_524 { 
	width:28px;
	height:28px;
	position:absolute;
	left:10px;
	top:6px;
}.ei477_338_355_108_361_525 { 
	background-color:rgba(238.00000101327896, 238.00000101327896, 238.00000101327896, 1);
	width:23.333332061767578px;
	height:19.833332061767578px;
	position:absolute;
	left:2.3333234786987305px;
	top:3.5px;
}.ei477_338_355_108_361_526 { 
	width:28px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
}.e477_339 { 
	width:1387px;
	height:557px;
	position:absolute;
	left:62px;
	top:648px;
}.e477_340 { 
	width:2911px;
	height:542px;
	position:absolute;
	left:0px;
	top:0px;
}.e477_341 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	width:361px;
	height:542px;
	position:absolute;
	left:850px;
	top:0px;
}.ei477_341_361_621 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:361px;
	height:542px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.ei477_341_355_680 { 
	width:240.66664123535156px;
	height:240.88888549804688px;
	position:absolute;
	left:61px;
	top:30px;
}.ei477_341_355_681 { 
	border-radius:500px;
	background-color:rgba(0, 173.00000488758087, 181.0000044107437, 1);
	width:240.66664123535156px;
	height:240.88888549804688px;
	position:absolute;
	left:0px;
	top:0px;
}.ei477_341_355_678 { 
	color:rgba(255, 255, 255, 1);
	width:361px;
	height:240.888916015625px;
	position:absolute;
	left:0px;
	top:271px;
	font-family:Open Sans;
	text-align:center;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:0;
}.e477_342 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	width:361px;
	height:542px;
	position:absolute;
	left:1275px;
	top:0px;
}.ei477_342_361_621 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:361px;
	height:542px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.ei477_342_355_680 { 
	width:240.66664123535156px;
	height:240.88888549804688px;
	position:absolute;
	left:61px;
	top:30px;
}.ei477_342_355_681 { 
	border-radius:500px;
	background-color:rgba(0, 173.00000488758087, 181.0000044107437, 1);
	width:240.66664123535156px;
	height:240.88888549804688px;
	position:absolute;
	left:0px;
	top:0px;
}.ei477_342_355_678 { 
	color:rgba(255, 255, 255, 1);
	width:361px;
	height:240.888916015625px;
	position:absolute;
	left:0px;
	top:271px;
	font-family:Open Sans;
	text-align:center;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:0;
}.e477_343 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	width:361px;
	height:542px;
	position:absolute;
	left:1700px;
	top:0px;
}.ei477_343_361_621 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:361px;
	height:542px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.ei477_343_355_680 { 
	width:240.66664123535156px;
	height:240.88888549804688px;
	position:absolute;
	left:61px;
	top:30px;
}.ei477_343_355_681 { 
	border-radius:500px;
	background-color:rgba(0, 173.00000488758087, 181.0000044107437, 1);
	width:240.66664123535156px;
	height:240.88888549804688px;
	position:absolute;
	left:0px;
	top:0px;
}.ei477_343_355_678 { 
	color:rgba(255, 255, 255, 1);
	width:361px;
	height:240.888916015625px;
	position:absolute;
	left:0px;
	top:271px;
	font-family:Open Sans;
	text-align:center;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:0;
}.e477_344 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	width:361px;
	height:542px;
	position:absolute;
	left:0px;
	top:0px;
}.ei477_344_361_621 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:361px;
	height:542px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.ei477_344_355_680 { 
	width:240.66664123535156px;
	height:240.88888549804688px;
	position:absolute;
	left:61px;
	top:30px;
}.ei477_344_355_681 { 
	border-radius:500px;
	background-color:rgba(0, 173.00000488758087, 181.0000044107437, 1);
	width:240.66664123535156px;
	height:240.88888549804688px;
	position:absolute;
	left:0px;
	top:0px;
}.ei477_344_355_678 { 
	color:rgba(255, 255, 255, 1);
	width:361px;
	height:240.888916015625px;
	position:absolute;
	left:0px;
	top:271px;
	font-family:Open Sans;
	text-align:center;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:0;
}.e477_345 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	width:361px;
	height:542px;
	position:absolute;
	left:2550px;
	top:0px;
}.ei477_345_361_621 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:361px;
	height:542px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.ei477_345_355_680 { 
	width:240.66664123535156px;
	height:240.88888549804688px;
	position:absolute;
	left:61px;
	top:30px;
}.ei477_345_355_681 { 
	border-radius:500px;
	background-color:rgba(0, 173.00000488758087, 181.0000044107437, 1);
	width:240.66664123535156px;
	height:240.88888549804688px;
	position:absolute;
	left:0px;
	top:0px;
}.ei477_345_355_678 { 
	color:rgba(255, 255, 255, 1);
	width:361px;
	height:240.888916015625px;
	position:absolute;
	left:0px;
	top:271px;
	font-family:Open Sans;
	text-align:center;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:0;
}.e477_346 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	width:361px;
	height:542px;
	position:absolute;
	left:425px;
	top:0px;
}.ei477_346_361_621 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:361px;
	height:542px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.ei477_346_355_680 { 
	width:240.66664123535156px;
	height:240.88888549804688px;
	position:absolute;
	left:61px;
	top:30px;
}.ei477_346_355_681 { 
	border-radius:500px;
	background-color:rgba(0, 173.00000488758087, 181.0000044107437, 1);
	width:240.66664123535156px;
	height:240.88888549804688px;
	position:absolute;
	left:0px;
	top:0px;
}.ei477_346_355_678 { 
	color:rgba(255, 255, 255, 1);
	width:361px;
	height:240.888916015625px;
	position:absolute;
	left:0px;
	top:271px;
	font-family:Open Sans;
	text-align:center;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:0;
}.e477_347 { 
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
	width:361px;
	height:542px;
	position:absolute;
	left:2125px;
	top:0px;
}.ei477_347_361_621 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:361px;
	height:542px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.ei477_347_355_680 { 
	width:240.66664123535156px;
	height:240.88888549804688px;
	position:absolute;
	left:61px;
	top:30px;
}.ei477_347_355_681 { 
	border-radius:500px;
	background-color:rgba(0, 173.00000488758087, 181.0000044107437, 1);
	width:240.66664123535156px;
	height:240.88888549804688px;
	position:absolute;
	left:0px;
	top:0px;
}.ei477_347_355_678 { 
	color:rgba(255, 255, 255, 1);
	width:361px;
	height:240.888916015625px;
	position:absolute;
	left:0px;
	top:271px;
	font-family:Open Sans;
	text-align:center;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:0;
}